In [18]:
import pandas as pd # manipulacion de  datos mediante dataframes
pd.options.display.max_columns = None # para que se muestren todas las columnas

import requests # para hacer peticiones a la web y obtener datos 

import os  # para acceder a las variables de entorno del sistema operativo 
from dotenv import load_dotenv # para cargar las variables de entorno desde el fichero .env 
import numpy.ma.mrecords as mrecords

In [2]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in /Users/veronicamoncada/anaconda3/lib/python3.10/site-packages (1.0.0)

In [3]:
load_dotenv()

False

In [6]:
def get_api(url):

    res = requests.get(url) 
    if res.status_code == 200: 
        return res.json() 
    else: 
        return f"Error {res.status_code}"

In [28]:
url = 'https://coronavirus.m.pipedream.net/'

res_api = get_api(url)
res_api.keys()

dict_keys(['summaryStats', 'cache', 'dataSource', 'apiSourceCode', 'rawData'])

In [29]:
titulo = res_api['summaryStats']
titulo

{'global': {'confirmed': 676570149, 'recovered': None, 'deaths': 6881804},
 'china': {'confirmed': 0, 'recovered': 0, 'deaths': 0},
 'nonChina': {'confirmed': 676570149, 'recovered': None, 'deaths': 6881804}}

In [31]:
df = pd.DataFrame(titulo)

In [32]:
df

                global  china     nonChina
confirmed  676570149.0      0  676570149.0
recovered          NaN      0          NaN
deaths       6881804.0      0    6881804.0